@model projetoTP3_A2.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dosagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dosagem)
        </dd>

        <!-- Tipo (Enum exibido corretamente) -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Model.Tipo.ToString()
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frequencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequencia)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
